<h1>atoneの試練</h1>
<br>
<div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333;">
  <p>【入力方法】</p>
  <p>アルファベットのH、S、D、C（大文字）と1~13（半角数字）までの値をご入力ください。</p>
  <p>また、カード間は半角で1文字分のスペースをご入力ください。</p>
  <p>入力例：H2 C13 D4 H9 H6</p>
</div>
<br>
<%= form_tag("/") do %>
  <input type="text" name="card" placeholder="S10 H11 D12 C13 H1">
  <input type="submit" name="commit" id="" value="送信する">
<% end %>

<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
